/* ------- PAGINA INFO CUOTAS ------ */
.cuotas-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: $color-background;
    color: $color-titulos;
    border-radius: 8px;
  
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
      text-align: center;
    }
    div { 
      h2 {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 15px;
      }
    
      p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 15px;
    
        strong {
          font-weight: bold;
        }
      }
    }
   
  }
  