/* -------- MAIN -------- */


  .hero {
    position: relative;

    .hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $color-contraste;
      background-color: rgba(0, 0, 0, 0.5); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      padding: 20px;
      border-radius: 8px;
      max-width: 60%;
      z-index: 10;

      a {
        
        @extend %enlaces;

        h1 {
          font-size: 36px;
          font-weight: bold;
          margin: 0;
        }

        p {
          font-size: 16px;
          margin-top: 10px;
        }
      }
    }

    .carousel {
      .carousel-inner {
        .carousel-item {
          .carousel-img {
            width: 100%;
            height: 600px;
            object-fit: cover;
          }

          .carousel-caption {
            h5 {
              font-weight: 800;
            }

            p {
              font-weight: 600;
            }
          }
        }
      }
    }
  }

/* INFO SECTION */  
  .info-section {
    @include flex(flex, space-around, center, row);
    padding: 50px;
    background-color: #b5a9a9b7;
    width: 100%;

    .info-item {
      text-align: left;

      h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: $color-titulos;
      }

      p {
        font-size: 14px;
        margin-bottom: 10px;
        color: $color-info;
      }

      a {
        font-size: 14px;
        color: $color-info;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

/* NEWSLETTER SECTION */  
  .newsletter {
    background: $color-background;
    padding: 20px;
    text-align: center;
    width: 100%;

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
    }

    form {
      @include flex(flex, center, center, column);
      label {
        font-size: 18px;
        margin-bottom: 10px;
      }

      input {
        padding: 10px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        width: 80%;
        max-width: 400px;
      }

      button {
        background: $color-boton;
        color: $color-contraste;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;

        &:hover {
          background: $color-boton-hover;
        }
      }
    }
  }

/* WHATSAPP ICON */
  .whatsapp {
    a {
      img {
        width: 40px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
      }
    }
  }

